[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
NoDisplay=false
Exec=alacritty -T "EncFS" -e dz_encfs.sh %F
MimeType=inode/directory
Name=DZ encfs
Name[ru]=DZ encfs
Comment=Mount encfs FS
Comment[ru]=Монтирование encfs ФС
Type=Application
Categories=System;
#OnlyShowIn=XFCE;
Icon=dz_logo
StartupNotify=true
Terminal=false
Hidden=false
Keywords=rsync;sync


# Обновить базу данных ярлыков
# update-desktop-database ~/.local/share/applications

# Проверить наличие устаревших ключей в своих ярлыках
# desktop-file-validate ваш-desktop-файл
