[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
NoDisplay=false
Exec=alacritty -T "Синхронизация PULL" -e dz_sync_pull.sh %F
MimeType=inode/directory
Name=DZ sync PULL
Name[ru]=DZ sync PULL
Comment=PULL files from server
Comment[ru]=Забрать файлы с сервера
Type=Application
Categories=System;
#OnlyShowIn=XFCE;
Icon=dz_logo
StartupNotify=true
Terminal=false
Hidden=false
Keywords=rsync;sync


# Обновить базу данных ярлыков
# update-desktop-database ~/.local/share/applications

# Проверить наличие устаревших ключей в своих ярлыках
# desktop-file-validate ваш-desktop-файл
