[Desktop Entry]
Version=1.0
Type=Application
Exec=dz_shutdown.sh
Icon=xfsm-logout
StartupNotify=false
Terminal=true
Categories=System;X-XFCE;X-Xfce-Toplevel;
Keywords=logout;exit;quit;shutdown;
OnlyShowIn=XFCE;
Name[ru]=Выйти
Name=Log Out
Comment=Log out of the Xfce Desktop
Comment[ru]=Выход из Xfce
Comment=Log out of the Xfce Desktop
