# IP адрес или URL сервера синхронизации.
declare -a SERVER_ADDRESS="rpi.diozan.ru"

# Список каталогов, подлежащих синхронизации.
declare -a SYNC_LIST=(
    "Develop"
    "Documents"
    "Downloads"
    "Library"
    "Media"
    "Study"
    "Templates"
    "Utils"
    ".ssh.enc"
    ".config/kicad"
    ".local/share/kicad"
)

# Фильтры команды rsync  (см. man rsync).
declare -a SYNC_FILTER=(
    --filter="- .dz_sync"
#    --filter="- .git"
#    --filter="- _venv"
#    --filter="- _build"
    --filter="- .Trash*"
    --filter="- .caltrash"
    --filter="- cache"
)

# Дополнительные параметры команды rsync (см. man rsync).
declare -a SYNC_PARAMETERS=(
    --progress
    --verbose
)

# Возраст в днях файлов протоколов и копий удалённых файлов старше которого
# они будут удалены при обслуживании синхронизируемых каталогов.
declare -i TRASH_AGE=30
