# Список адресов или имён сервера синхронизации.
declare -a SERVER_ADDRESSES=(
    192.168.127.4
    217.17.112.52
)

# Список каталогов, подлежащих снхронизации.
declare -a SYNC_LIST=(
    "Develop"
    "Documents"
    "Downloads"
    "Library"
    "Media"
    "Study"
    "Templates"
    "Utils"
)

# Фильтры команды rsync  (см. man rsync).
declare -a SYNC_FILTER=(
    --filter="- .dz_sync"
    --filter="- .git"
#    --filter="- _venv"
    --filter="- _build"
    --filter="- .Trash*"
    --filter="- .caltrash"
    --filter="- cache"
)

# Дополнительные параметры команды rsync (см. man rsync).
declare -a SYNC_PARAMETERS=(
    --progress
    --verbose
)

# Возраст в днях файллогов и копий удалённых файлов старше которого
# они будут удалены при обслуживании синхронизируемых каталогов.
declare -i TRASH_AGE=30
